[user]
	email = adamdilger1@gmail.com
	name = Adam Dilger
[core]
  excludesfile = ~/.gitignore_global
[color]
  ui = auto
[color "diff"]
  meta = yellow
  frag = cyan
  old = red bold
  new = green bold
[credential]
	helper = store
