[user]
	email = adamdilger1@gmail.com
	name = Adam Dilger
[core]
  excludesfile = ~/.gitignore_global
[alias]
        diffc = diff --cached
[color]
  ui = auto
[color "diff"]
  meta = yellow
  frag = cyan
  old = red bold
  new = green bold
[credential]
	helper = store
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
